<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gwm.mapper.WasalaryinfoMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		id, yuefen, staffname, staffshenfenid, staffgonghao, `state`, createdate, createname,yingfa
	</sql>


<select id="selectWasalaryinfolist" resultType="com.gwm.model.Wasalaryinfo">
        select
        <include refid="Base_Column_List"/>
        from Wasalaryinfo
        order by ${sort} ${order}
    </select>
</mapper>