<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gwm.mapper.WastaffinfoMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		id, gonghao, `name`, shenfenid, yinhangka, departinfo,state,createname,createdate
	</sql>

    <select id="selectWastaffinfolist" resultType="com.gwm.model.Wastaffinfo">
        select
        <include refid="Base_Column_List"/>
        from Wastaffinfo
        order by ${sort} ${order}
    </select>















</mapper>